<div class="row ">
  <div class="col-lg-12">
    <div class="text-right">
      <form class="d-sm-inline-block">
        <div class="input-group">
          <%= form_tag(admins_ativo_admins_path, method: :post) do %>
            <%= text_field_tag 'search', nil, class:"form-control bg-light", placeholder:'Tombo, Serial ou Modelo'%>
          <% end %>
          <%= button_tag type:'submit', class:"btn btn-primary" do %>
            <i class="fa fa-search"></i>
          <% end %>
        </div>
      </form>
    </div>
    <%= link_to new_admins_ativo_ativo_path do %>
      <button class="btn btn-success" type="button">Novo Ativo</button>
    <% end %>
    <button type="button" id="btn-vincular" class="btn btn-info">Vincular ao Déposito</button> 
  </div>
</div>

<br>

<table class="table table-hover">
  <thead>
    <tr>
      <th>
        <input type="checkbox" id="all_ativos" title="Marcar todos os Ativos"></input>
      </th>
      <th>Descrição</th>
      <th>Tombo</th>
      <th>Serial</th>
      <th>
      <th>
    </tr>
  </thead>
  <tbody>
    <% @ativos.each do |ativo| %>
      <tr>
        <td><%= check_box_tag("ativos[]", ativo.id, false, class:'marcar') %></td>
        <td><%= ativo.ativo_description %></td>
        <td><%= ativo.tombo %></td>
        <td><%= ativo.serial %></td>
        <td style="width: 10px">
          <%= link_to edit_admins_ativo_ativo_path(ativo) do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <td style="width: 10px">
          <%= link_to admins_ativo_ativo_path(ativo), method: :delete, data: {confirm: "Certeza?"} do %>
            <i class="fas fa-trash"></i>
          <% end %>  
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= javascript_include_tag 'application' %>

<script>
    $(document).ready(function () {
      $('#btn-vincular').click(function () {
        var ativos_ids = $('.marcar:checked').map(function () {
            return $(this).val();
        }).get();
        if (ativos_ids == '') {
            alert('Selecione pelo menos um Ativo');
        } else {
            if (this.id == 'btn-vincular') {
                
            }
        }
      });

      $("#all_ativos").change(function () {
          $('.marcar').prop('checked', $(this).prop("checked"));
      });

      $("#all_ativos").click(function(){
          $('.marcar').not(this).prop('checked', this.checked);
      });

      var all_ativos = $("#all_ativos");
      all_ativos.click(function () {
        if ( $(this).is(':checked') ){
          $('.marcar').prop("checked", true);
        }else{
          $('.marcar').prop("checked", false);
        }
      });
    });
</script>

<%= paginate @ativos %>
